/*news_header组件*/
  /*应用图标和名称*/
.logo {
  align-items: center;
  display: flex;
}
.logo img {
  width: 48px;
  height: 48px;
}
.logo span {
  font-size: 24px;
  padding-left: 5px;
}
.logoutBtn{
    float: right !important;
    /*background-color: red;*/
}
.logoutBtn .ant-btn{
    margin-right: 10px;
}
/*设置用户中心的链接的显示方式*/
.ant-menu-horizontal > .ant-menu-item > a{
    display: inline-block;
}
.ant-form-item-control > .ant-btn{
    width: 100%;
}

/*news container 模块*/
.container {
    padding-top: 10px;
    margin-top: 5px;
}
/*轮播图*/
.leftContainer{
    float: left;
    padding: 15px 10px 0 0;
}
.ant-carousel {
    width: 428px;
    float: left;
}
.ant-carousel img {
    width: 428px;
    height: 260px;
}
.slick-list{
    padding: 20px 0 20px 0;
}




/*中间的新闻模块*/
.ant-tabs-bar{
    margin-bottom: 6px;
}


.tabs_news {
    padding: 0 10px 2px 10px;
    width: 400px;
    float: left;
}
.tabs_news li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 368px;
    float: left;
    text-overflow: ellipsis;

}
.tabs_news li a{
    color: #555;
}
.tabs_news li a:hover{
    color: #108ee9;
}
/*新闻产品*/
.tabs_product {
    width: 300px;
    padding-left: 10px;
    float: left;
}
.tabs_product li {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    width: 257px;
    text-overflow: ellipsis;
}

/*news_products组件*/
/*为了解决hover的时候没有右侧和下部边框无法显示的问题*/
.newsPro{
    margin:0 3px 3px 0;
}
.pro_bg {
    background: #eeeeee;
    margin-top: 10px;
}

.pro {
    padding: 5px;
    overflow: hidden;
}

.pro a {
    float: left;
    line-height: 30px;
    margin-right: 5px;
}

/*news_image_block组件*/
.topNewsList {
    float: left;
    text-align: left;
    font-size: 12px;
    margin:10px 0;
}
.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}

/*imgblock*/
.imageblock {
    float: left;
}
/*imgblock的文字*/
.custom-card {
    padding: 5px;
}
.custom-card p {
    color: #999;
}
/*imgblock 的more按钮演示*/
.ant-card-extra a:hover{
    color: #108ee9 !important;
}
/*footer*/
.footer{
    margin: 20px 0 30px 0;
    text-align: center;
}



.imageblockMore{
    width:100%;
    margin-bottom: 20px;
}
.imageblockMore img{
    width: 100%;
}
.moreNews{
    margin-top: 15px;
}

/*新闻详情页面*/
.article-content{
    padding: 30px 20px 20px 20px;
}
#title{
    margin:0 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
}
.article-src-time{
    margin-top: 5px;
}
#content{
    font-size: 16px;
}
#content p{
    text-indent:25px;
    margin:10px 0;
}
#content img{
    display: block;
    width: 80%;
    margin: 5px auto;
}
/*视频播放器的宽度*/
.video_iframe{
    width: 500px;
    height: 450px;
}